h1  {
	font-size : 18px;
	color : #000000;
	font-Family : Arial, Helvetica, sans-serif;
	font-weight : bold;
}
h2  {
	font-size : 14px;
	font-Family : Arial, Helvetica, sans-serif;
}
h3  {
	font-size : 14px;
	font-Family : Arial, Helvetica, sans-serif;
}
P  {
	font-size : 12px;
	color : #000000;
	font-Family : Arial, Helvetica, sans-serif;
}
.Menu  {
	font-size : 12px;
	color : #000000;
	font-Family : Arial, Helvetica, sans-serif;
	border-bottom : 0;
}

.normalText  {
	font-size : 12px;
	color : #000000;
	font-Family : Arial, Helvetica, sans-serif;
}

.textRed  {
	font-size : 12px;
	color : #ff0000;
	font-Family : Arial, Helvetica, sans-serif;
}
.textOrange  {
	font-size : 16px;
	color : #DDAA11;
	font-Family : Arial, Helvetica, sans-serif;
	font-weight : bold;
}

.smallText {
	font-size : 11px;
	color : #000000;
	font-Family : Arial, Helvetica, sans-serif;
}

.my {
	font : 28 sans-serif;
	color : #444444;
	font-Family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	letter-spacing : 3px;
}

.xpressa {
	font : 26 sans-serif;
	color : #000000;
	font-Family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : regular;
	letter-spacing : 3px;
} 

.sipxphone {
	font : 26 sans-serif;
	color : #000000;
	font-Family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : regular;
	letter-spacing : 3px;
} 
