BODY { 
      font-family:Arial; 
      background-color:#fafecb;  }
H1 { 
    font-weight:bold; 
    font-size:14.0pt; 
    color:#007f7f; 
    margin-bottom:2pt; 
    font-family:Arial;  }
LI.kadov-H1 { 
             font-weight:bold; 
             font-size:14.0pt; 
             color:#007f7f;  }
H2 { 
    font-weight:bold; 
    font-size:12.0pt; 
    color:#007f7f; 
    margin-bottom:1pt; 
    font-family:Arial;  }
LI.kadov-H2 { 
             font-weight:bold; 
             font-size:12.0pt; 
             color:#007f7f;  }
H3 { 
    font-weight:bold; 
    font-size:11.0pt; 
    color:#007f7f; 
    margin-bottom:2pt; 
    margin-top:5pt; 
    font-family:Arial;  }
LI.kadov-H3 { 
             font-weight:bold; 
             font-size:11.0pt; 
             color:#007f7f;  }
H4 { 
    font-weight:bold; 
    color:#007f7f; 
    margin-bottom:2pt; 
    font-size:9pt; 
    margin-top:6pt; 
    font-family:Arial;  }
LI.kadov-H4 { 
             font-weight:bold; 
             color:#007f7f; 
             font-size:9pt;  }
H5 { 
    font-weight:bold; 
    font-size:10.0pt; 
    font-family:Arial;  }
LI.kadov-H5 { 
             font-weight:bold; 
             font-size:10.0pt;  }
H6 { 
    font-weight:bold; 
    font-size:8.0pt; 
    font-family:Arial;  }
LI.kadov-H6 { 
             font-weight:bold; 
             font-size:8.0pt;  }
P { 
   font-size:9pt; 
   color:#007f7f; 
   margin-top:1pt; 
   margin-bottom:2pt; 
   font-family:Arial;  }
LI.kadov-P { 
            font-size:9pt; 
            color:#007f7f;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            text-decoration:none none none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:Arial;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:Arial;  }
P.remember { 
            background-color:fafecb; 
            color:#007f7f; 
            border-left-style:None; 
            border-right-style:None; 
            border-top-style:None; 
            border-bottom-style:None;  }
LI.kadov-P-Cremember { 
                      color:#007f7f;  }
P.list { 
        margin-top:1; 
        margin-bottom:1;  }
LI.kadov-P-Clist {  }
ol ol { 
       margin-top:1px;  }
ol ul { 
       margin-top:1px;  }
ul ul { 
       margin-top:1px;  }
ul ol { 
       margin-top:1px;  }
