<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- SoundPoint IP Global Configuration File -->
<!-- Revision: 1.302.2.1 Date: 2004/07/11 23:25:31 -->
<ipmid>
 <!-- all content in sip.cfg now -->
</ipmid>
