config-h.in
config-h.in~
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure~
force_fixed.txt
g722_1.pc
g722_1.spec
INSTALL
src/.libs/
src/dct4.h
src/g722_1.h
src/make_dct4_tables
tests/regression_tests.sh

