LOG_FILE : B2BUA.log
OUTBOUND_PROXY : 
REGISTER_PERIOD_SECS : 28
RTP_START_PORT : 16384
SIP_TCP_PORT : 9060
SIP_UDP_PORT : 9060
STUN_PORT : 3478
STUN_SERVER : stun.sip411.com
NUM_LINES : 1
LINE_URL.1 : sip:1508xxxxxx@sphone.vopr.vonage.net 
LINE_ALIAS.1 : sip:1508xxxxxx@atlas6.atlas.vonage.net
LINE_MAP_URL.1 : sip:100@10.1.1.104
LINE_MAP_URL_ALIAS.1 : sip:200@10.1.1.104
LINE_REALM.1 : 216.115.20.41
LINE_USERNAME.1 : 1508xxxxxx
LINE_PASSWORD.1 : xxxxxxxxxx
LINE_SELECT.1 : vonage
LINE_MAX_CALLS.1 : 1
