bin/
**/libsipXmedia_la-*.lo
**/libsipXmedia_la-*.o
**/.deps/
**/.dirstamp/
src/test/Makefile
src/test/Makefile.in
src/test/codecQualitySource/
src/test/itu_peak_recordings.rar
src/test/mp/sandbox-*.o
src/test/mp/testsuite-*.o
src/mp/codecs/*/codec_*_la-*.lo
src/mp/codecs/*/codec_*_la-*.o
src/mp/codecs/*/Makefile
src/mp/codecs/*/Makefile.in
src/mp/codecs/*/codec_*.la
src/mp/codecs/*/.deps/
src/mp/codecs/*/.libs/
src/mp/codecs/*/*.lo
src/mp/codecs/*/*.o
contrib/libamrnb/.libs/
contrib/libamrnb/*.lo
contrib/libamrnb/*.o
contrib/libamrnb/*.c
contrib/libamrnb/*.h
contrib/libamrnb/Makefile
contrib/libamrnb/Makefile.in
contrib/libamrnb/aclocal.m4
contrib/libamrnb/amrnb-decoder*
contrib/libamrnb/amrnb-encoder*
contrib/libamrnb/compile
contrib/libamrnb/configure
contrib/libamrwb/.libs/
contrib/libamrwb/*.lo
contrib/libamrwb/*.o
contrib/libamrwb/*.c
contrib/libamrwb/*.h
contrib/libamrwb/Makefile
contrib/libamrwb/Makefile.in
contrib/libamrwb/aclocal.m4
contrib/libamrwb/amrwb-decoder*
contrib/libamrwb/amrwb-encoder*
contrib/libamrwb/compile
contrib/libamrwb/configure
contrib/libg7221/src/*.lo
contrib/libg7221/src/*.o
contrib/libg729a/src/*.lo
contrib/libg729a/src/*.o
contrib/libilbc/src/*.lo
contrib/libilbc/src/*.o
contrib/libopus/libogg/src/*.lo
contrib/libopus/libogg/src/*.o
contrib/libopus/libopusenc/src/*.lo
contrib/libopus/libopusenc/src/*.o
contrib/libopus/opus/silk/*.lo
contrib/libopus/opus/silk/*.o
contrib/libopus/opus/silk/*/*.lo
contrib/libopus/opus/silk/*/*.o
contrib/libopus/opus/celt/*.lo
contrib/libopus/opus/celt/*.o
contrib/libopus/opus/celt/*/*.lo
contrib/libopus/opus/celt/*/*.o
contrib/libopus/opusfile/src/*.lo
contrib/libopus/opusfile/src/*.o
contrib/libopus/opus/src/*.lo
contrib/libopus/opus/src/*.o
contrib/libopus/opus/tests/*.o
