<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
  
<plugin>  

  <model>	
	  <model name="phone">
		</model>
		<model name="line">      
  	</model>
		<model name="firmware">      
		</model>
  </models>
  
<beans>
  
  <bean id="org.sipfoundry.sipxconfig.phone.polycom.PolycomModel.MODEL_300"
    class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean"/>
  <bean id="org.sipfoundry.sipxconfig.phone.polycom.PolycomModel.MODEL_500"
    class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean"/>
  <bean id="org.sipfoundry.sipxconfig.phone.polycom.PolycomModel.MODEL_600"
    class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean"/>
  <bean id="org.sipfoundry.sipxconfig.phone.polycom.PolycomModel.MODEL_4000"
    class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean"/>
  
  <bean id="polycomModel" class="org.sipfoundry.sipxconfig.setting.SettingModel">
		<property name="resource" value="polycom/phone.xml"/>
		<property name="modelFilesContext" ref="modelFilesContext"/>
	</bean>

  <bean id="polycom" 
    class="org.sipfoundry.sipxconfig.phone.polycom.PolycomPhone"
    singleton="false" 
    parent="unmanagedPhone">
    <property name="settingModel">
			<ref local="polycomModel"/>
    </property>
  </bean>
  
</beans>
</plugin>