.libs/
compile
config.guess
config.sub
depcomp
doc/Doxyfile
examples/.dirstamp
examples/.libs/
examples/opusfile_example
examples/seeking_example
install-sh
ltmain.sh
m4/libtool.m4
missing
opusfile-uninstalled.pc
opusfile.pc
opusurl-uninstalled.pc
opusurl.pc
src/.dirstamp

