*.swp
BUILDSTAMP
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.properties
config.status
configure
libtool
stamp-h1
doc/Makefile
doc/Makefile.in
include/Makefile
include/Makefile.in
src/.libs/
src/Makefile
src/Makefile.in
src/libsipXsdp.la
src/sdp/.deps/
src/sdp/.dirstamp
src/sdp/.libs/
src/sdp/libsipXsdp_la-*.lo
src/sdp/libsipXsdp_la-*.o
src/test/.libs/
src/test/Makefile
src/test/Makefile.in
src/test/sandbox
src/test/sdp/.deps/
src/test/sdp/.dirstamp
src/test/sdp/sandbox-*.o
src/test/sdp/testsuite-*.o
src/test/test-suite.log
src/test/testsuite

