<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--
       - P O S T G R E S
       -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close">
		<property name="driverClassName">
			<value>org.postgresql.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:postgresql://localhost/PDS</value>
		</property>
		<property name="username">
			<value>postgres</value>
		</property>
	</bean>
	<!--
       - T R A N S A C T I O N  S U P P O R T
       -->
	<bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
	</bean>
	<!--
      - H I B E R N A T E   F A C T O R Y
      -->
	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
		<property name="mappingResources">
			<list>
				<value>
					org/sipfoundry/sipxconfig/core/sipxconfig-core.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					net.sf.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.query.substitutions">true=1 false=0</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<!--
      - H I B E R N A T E   S E S S I O N
      -->
	<bean id="hibernateInterceptor" 
		class="org.springframework.orm.hibernate.HibernateInterceptor">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!--
      - G E N E R I C  D B
      -->
	<bean id="coreDaoImpl" class="org.sipfoundry.sipxconfig.core.CoreDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!--
      - B U S I N E S S /  D B   I N T E R F A C E
      -->
	<bean id="coreDao" 
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.sipfoundry.sipxconfig.core.CoreDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>coreDaoImpl</value>
			</list>
		</property>
	</bean>
	<bean id="phoneFactoryResource" 
		class="org.springframework.core.io.ClassPathResource">
		<constructor-arg type="java.lang.String">
			<value>PhoneFactory.xml</value>
		</constructor-arg>
	</bean>
	<bean id="phoneFactory" 
		class="org.sipfoundry.sipxconfig.core.PhoneFactoryImpl">
		<constructor-arg type="org.springframework.core.io.Resource">
			<ref bean="phoneFactoryResource"/>
		</constructor-arg>
		<property name="coreDao">
			<ref bean="coreDao"/>
		</property>
	</bean>
	<!--
      -  B U S I N E S S  C O N T E X T
      -
      -  Single object holding access to all other service layer objects
      -->
	<bean id="sipxconfig" class="org.sipfoundry.sipxconfig.core.SipxConfigImpl">
		<property name="coreDao">
			<ref bean="coreDao"/>
		</property>
		<property name="phoneFactory">
			<ref bean="phoneFactory"/>
		</property>
	</bean>
</beans>