<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<!-- Manages test data -->
   <bean id="testData"
	    class="org.sipfoundry.sipxconfig.core.UnitTestDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
	</bean>

</beans>