# THIS FILE MUST NOT BE ALTERED IN ANY WAY.  DOING SO WILL
# PREVENT SIPXCHANGE WORKING.

# SIP Default Generic Configuration File 
 
# Image Version
image_version: ""

# Proxy Server
proxy1_address: ""		
proxy2_address: ""		
proxy3_address: ""		
proxy4_address: ""		
proxy5_address: ""		
proxy6_address: ""		

# Proxy Server Port 
proxy1_port: "" 
proxy2_port: "" 
proxy3_port: "" 
proxy4_port: "" 
proxy5_port: "" 
proxy6_port: "" 

# Proxy Registration 
proxy_register : 1

# Phone Registration Expiration 
timer_register_expires: "" 

# Codec for media stream 
preferred_codec: ""

# TOS bits in media stream [0-5] (Default - 5)
tos_media: ""

# Inband DTMF Settings (0-disable, 1-enable (default))
dtmf_inband: ""

# Out of band DTMF Settings (none-disable, avt-avt enable (default), avt_always - always avt )
dtmf_outofband: ""

# DTMF dB Level Settings (1-6dB down, 2-3db down, 3-nominal (default), 4-3db up, 5-6dB up)
dtmf_db_level: ""

# SIP Timers
timer_t1: "" 			
timer_t2: "" 			
sip_retx: ""			
sip_invite_retx: "" 		
timer_invite_expires: "" 	

####### New Parameters added in Release 2.0 #######

# Dialplan template (.xml format file relative to the TFTP root directory)
dial_template: ""

# TFTP Phone Specific Configuration File Directory
tftp_cfg_dir: ""		
 
# Time Server (There are multiple values and configurations refer to Admin Guide for Specifics)
sntp_server: ""			
sntp_mode: ""	
time_zone: ""			
dst_offset: ""			
dst_start_month: ""		
dst_start_day: ""		
dst_start_day_of_week: ""	
dst_start_week_of_month: ""	
dst_start_time: ""		
dst_stop_month: ""		
dst_stop_day: ""		
dst_stop_day_of_week: ""	
dst_stop_week_of_month: ""	
dst_stop_time: ""		
dst_auto_adjust: ""		
time_format_24hr: ""		

# Do Not Disturb Control (0-off, 1-on, 2-off with no user control, 3-on with no user control)
dnd_control: ""			

# Caller ID Blocking (0-disbaled, 1-enabled, 2-disabled no user control, 3-enabled no user control)
callerid_blocking: ""		 

# Anonymous Call Blocking (0-disabled, 1-enabled, 2-disabled no user control, 3-enabled no user control)
anonymous_call_block: ""		

# DTMF AVT Payload (Dynamic payload range for AVT tones - 96-127)
dtmf_avt_payload: ""		

# Sync value of the phone used for remote reset
# Modified by Pingtel to make the check-sync reboot mechanism work 
sync: something-different				

####### New Parameters added in Release 2.1 #######

# Backup Proxy Support
proxy_backup: ""		
proxy_backup_port: ""		

# Emergency Proxy Support
proxy_emergency: "" 		
proxy_emergency_port: ""	

# Configurable VAD option
enable_vad: ""			

####### New Parameters added in Release 2.2 ######

# NAT/Firewall Traversal
nat_enable: ""                   
nat_address: ""		        
voip_control_port: ""      	
start_media_port: "" 	
end_media_port: ""   	
nat_received_processing: ""	

# Outbound Proxy Support
outbound_proxy: ""	 	
outbound_proxy_port: ""       

####### New Parameter added in Release 3.0 #######

# Allow for the bridge on a 3way call to join remaining parties upon hangup
cnf_join_enable : ""		

####### New Parameters added in Release 3.1 #######

# Allow Transfer to be completed while target phone is still ringing
semi_attended_transfer: ""	

# Telnet Level (enable or disable the ability to telnet into the phone) 
telnet_level: ""			

####### New Parameters added in Release 4.0 #######

# XML URLs
services_url: ""		
directory_url: ""		
logo_url: ""			

# HTTP Proxy Support
http_proxy_addr: ""		
http_proxy_port: ""		

# Dynamic DNS/TFTP Support
dyn_dns_addr_1: ""              
dyn_dns_addr_2: ""              
dyn_tftp_addr: ""               

# Remote Party ID
remote_party_id: ""		

####### New Parameters added in Release 4.4 #######

# Call Hold Ringback (0-off, 1-on, 2-off with no user control, 3-on with no user control)
call_hold_ringback: ""	


####### Parameters which Cisco do not ship in this file by default.
# we need them so we can delete settings on the devices

#lines
line1_name : ""
line1_shortname : ""
line1_authname : ""
line1_displayname : ""
line1_password : ""

line2_name : ""
line2_shortname : ""
line2_authname : ""
line2_displayname : ""
line2_password : ""

line3_name : ""
line3_shortname : ""
line3_authname : ""
line3_displayname : ""
line3_password : ""

line4_name : ""
line4_shortname : ""
line4_authname : ""
line4_displayname : ""
line4_password : ""

line5_name : ""
line5_shortname : ""
line5_authname : ""
line5_displayname : ""
line5_password : ""

line6_name : ""
line6_shortname : ""
line6_authname : ""
line6_displayname : ""
line6_password : ""

# misc.
autocomplete : ""
call_waiting : ""
date_format : ""
messages_uri : ""
network_media_type : ""
network_port2_type : ""
phone_label : ""
phone_password : ""
phone_prompt : ""
user_info : ""


#Pingtel SIPxchange additional parameters
additional_device_settings : ""
additional_user_settings : ""