/*  Legacy colors
 *    #669999  - faded green
 *    #ffffcc  - faded yellow
 */

body {
  padding:      0;
  margin:       0;
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  font-size:    12px;
}

h1 { font: 170% }
h2 { font: 140% }
h3 { font: 120% }
h4 { font: bold 100% }
h5 { font: italic 100% }
h6 { font: small-caps 100% }

dt {
  font-weight: bold;
}

dd {
  margin-top: 5px;
  margin-bottom: 5px;
}

pre, tt, code, kbd, samp { 
    color: #000099;
    font-family: monospace; 
}

.hack {
  color: #ff6600;
}

#lastmodified {
    align: right;
    font-style: italic;
}

#banner {
    background:   #669999;
    width:        100%;
    border-style: solid;
    border-color: #ffffcc;
    border-width: 0 0 0 0;
    padding:      7px;
    margin:       0 0 0 0;
}

#banner h1 {
    margin: 0px;
    font: 130%
    font-style: bold;
    color: #ffffcc;
}

#navigation {
    float:      left;
    top:        90px;
    left:       0;
    width:      120px;
    min-height: 100%;
    padding:    0 14px 2px 14px;
}

#navigation ul {
  list-style-type:none;
  padding: 5px 5px 5px 5px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.table-actions {
  list-style-type:none
}

ul.table-actions li {
  display: inline;
  margin: 0 5px;
}

table.table-view th {
    background-color: #ccc;
    border-bottom: thin solid #000;
    border-right: thin solid #000;
    padding: 3px;
    white-space: nowrap;    
}

table.table-view td {
    padding: 3px;
    white-space: nowrap;    
    border-collapse: collapse;
}

table.table-view {
    border-top: thin solid #000;
    border-left: thin solid #000;
    border-right: thin solid #000;
    border-bottom: thin solid #000;
}

ul.table-pager {
  list-style-type:none
}

ul.table-pager li {
  display: inline;
  margin: 0 5px;
}

li.navigation {
  margin-top: 2px;
  margin-bottom: 2px;
  list-style: none;
  white-space: nowrap;
}

#content {
  float : center;
}

#footer {
    clear:        both;
    padding:      .5em 1em .25em 1em;
    font-size:    10px; 
    margin-top:   3em;
    font-style: italic;
}

.hide {
  display: none
}