/*  Legacy colors
 *    #699  - faded green
 *    #ffc  - faded yellow
 */

body {
  padding:      0;
  margin:       0;
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  font-size:    12px;
  background: #ffc;
}

h1 { font: 170% }
h2 { font: 140% }
h3 { font: 120% }
h4 { font: bold 100% }
h5 { font: italic 100% }
h6 { font: small-caps 100% }

dt {
  font-weight: bold;
}

dd {
  margin-top: 5px;
  margin-bottom: 5px;
}

pre, tt, code, kbd, samp { 
    color: #009;
    font-family: monospace; 
}

legend {
  font: bold 80%;
}

.hack {
  color: #ff6600;
}

div.tabArea {
  padding-top: 10px;
  font-size: 80%;
  font-weight: bold;
  background: #ffc;
  width: 40em;
  border-bottom: 1px solid #000;
}

a.tab {
  background-color: #ccc;
  border: 1px solid #000;
  padding: 2px 1em 0px 1em;
  text-decoration: none;
}

a.tab, a.tab:visited {
  color: #000;
}

a.tab.active, a.tab.active:hover, a.tab.active:visited {
  background-color: #ffc;
  border-bottom-color: #ffc;
  color: #000;
}

#lastmodified {
    align: right;
    font-style: italic;
}

#banner {
    background:   #699;
    width:        100%;
    padding:      7px;
    margin:       0 0 0 0;
}

#banner h1 {
    margin: 0px;
    font: 130%;
    font-style: italic;
    font-weight: bold;
    color: #ffc;
}

#navigation {
  float : left;
  background: #699;
  width: 180px;
  padding: 2px;
}

#navigation ul {
  list-style-type:none;
  margin: 2px;
  padding: 5px 5px 5px 5px;
}

#navigation li a {
  color: #fff;
  text-decoration: none;
}

#navigation li ul li a {
  font-weight: plain;
}

#content {
  margin-left : 182px; /* navigation.width + navigation.padding */
  padding: 5px 5px 5px 10px;
}

#footer {
    clear : both;
    padding: .5em 1em .25em 1em;
    font-size: 10px; 
    margin-top: 3em;
    font-style: italic;
}

/* temporary comments sections */
#comments {
	border-top: solid;
	color: #08f
}

p.message {
    font-weight: bold;
    color: #f00;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.table-actions {
  width: 35em;
  list-style-type: none;
  margin: 5px;
  padding: 0px
}

ul.table-actions li {
  display: inline;
  margin: 0 5px;
}

table.table-view {
    width: 38em;
    background: #fff;
    border-collapse: collapse;
    border: 1px;
    border-style : solid;
    border-color : #ccc;  
}

table.table-view thead {
    background-color: #699;
}

tr.table-view-hdr {
    background-color: #699;
}

table.table-view th {
    border: 1px;
    border-style : solid;
    border-color : #ccc;  
    padding: 3px;
    white-space: nowrap;        
}

table.table-view thead th {
    border: 1px;
    border-style : solid;
    border-color : #ccc;  
    padding: 3px 5px 3px 5px;
    white-space: nowrap;        
    color: #ffc;
}

    
table.table-view th a {
    color: #ffc;
}

table.table-view td {
    inset: 3px;
    border-collapse: collapse;
}

ul.table-selection {
  list-style-type: none;
  margin: 0px 2px 2px 2px;
  padding: 0px
}

ul.table-selection li {
  display: inline;
  margin: 0 5px;
}

ul.table-selection li a {
  text-decoration: none;
  font-size: .8em;
}

tr.even {
    background: #eee;
}

tr.odd {
    background: #fff;
}

.table-action {
    font-style: italic;
}

ul.table-pager {
  list-style-type:none
}

ul.table-pager li {
  display: inline;
  margin: 0 5px;
}

#help {
  float: right;
  width: 15em;
  margin-left: 20px;
  border-collapse: collapse;
  border: 1px;
  border-style : solid;
  border-color : #ccc;  
  padding: 5px;
  background: #fffffc;
}

#component {
  width: 40em;    
  background: #ffc;
}

#component fieldset {
  border-style: none;
  font-size: 120%;
  width: 44em;
}

#component legend {
  font-size: 120%;
}

ul.component-actions {
  width: 35em;
  list-style-type : none;
  text-align: right; 
}

ul.component-actions li {
  display: inline;
  margin: 0 5px;
}

ul.form-actions {
  list-style-type : none;
  text-align: left;  
}

ul.form-actions li {
  display: inline;
}

.page-label {
  font-weight: bold;
  margin: 2px;
  padding: 2px;
}

#settings-navigation {
  padding: 2px;
}

#settings-navigation ul {
  list-style-type:none;
  margin: 2px;
  padding: 2px 2px 2px 2px;
}

#settings-navigation li {
  display: inline;
  margin: 0 5px;
}

#settings-navigation li a {
  text-decoration: none;
  white-space: nowrap;        
}

.hide {
  display: none
}

