body {
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  font-size:    12px;
}

h1 { font: 170% }
h2 { font: 140% }
h3 { font: 120% }
h4 { font: bold 100% }
h5 { font: italic 100% }
h6 { font: small-caps 100% }

dt {
  font-weight: bold;
}

dd {
  margin-top: 5px;
  margin-bottom: 5px;
}

pre, tt, code, kbd, samp { 
    color: #000099;
    font-family: monospace; 
}

.hack {
  color: #ff6600;
}

#lastmodified {
    align: right;
    font-style: italic;
}

#banner {
  padding: 20px;
  background: #3d5561
}

#banner h1 {
    margin: 0px;
    font: 130%
    font-style: bold;
    color: #ffd65b;
}

#navigation {
  float: left;
  width: 15%;
}

#navigation ul {
  padding: 5px 5px 5px 5px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

#navigation li {
  margin-top: 2px;
  margin-bottom: 2px;
  list-style: none;
  white-space: nowrap;
}

#content {
  margin-left: 18%;
}

#footer {
  clear: left;
  padding: 20px;
  font-style: italic;
}

.hide {
  display: none
}
