*.swp
BUILDSTAMP
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
Makefile
Makefile.in
libtool
stamp-h1
bin/Makefile
bin/Makefile.in
bin/sipxcalllib-config
doc/Makefile
doc/Makefile.in
include/Makefile
include/Makefile.in
examples/CallScript/src/.deps/
examples/musicServer/.deps/
examples/PlaceCall/.deps/
examples/PlaceCall/.libs/
examples/PlaceCall/ExternalTransport.o
examples/PlaceCall/Makefile
examples/PlaceCall/Makefile.in
examples/PlaceCall/PlaceCall
examples/PlaceCall/PlaceCall.o
examples/ReceiveCall/.deps/
examples/ReceiveCall/.libs/
examples/ReceiveCall/ExternalTransport.o
examples/ReceiveCall/Makefile
examples/ReceiveCall/Makefile.in
examples/ReceiveCall/ReceiveCall
examples/ReceiveCall/ReceiveCall.o
examples/sipXezPhone/.deps/
src/.deps/
src/.libs/
src/libsipXcall.la
src/libsipXcall_la-*.lo
src/libsipXcall_la-*.o
src/test/tapi/testsuite-*.o
src/test/testsuite-*.o
src/test/.deps/
src/test/.libs/
src/test/tapi/.deps/
src/test/tapi/.libs/
src/test/tapi/test-suite.log
src/test/tapi/testsuite
src/test/test-suite.log
src/test/testsuite

