*.swp
BUILDSTAMP
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/Makefile
bin/Makefile.in
bin/sipxtacklib-config
config.h
config.h.in
config.log
config.properties
config.status
configure
libtool
stamp-h1
doc/Makefile
doc/Makefile.in
examples/Makefile
examples/Makefile.in
examples/im/.deps/
examples/im/.libs/
examples/im/Makefile
examples/im/Makefile.in
examples/im/basicImClient
examples/im/basicImClient.o
examples/xmlrpc/.deps/
examples/xmlrpc/.libs/
examples/xmlrpc/Makefile
examples/xmlrpc/Makefile.in
examples/xmlrpc/xmlrpcClient
examples/xmlrpc/xmlrpcClient.o
include/Makefile
include/Makefile.in
include/net/version.h
meta/Makefile
meta/Makefile.in
siplog2siptrace/.deps/
siplog2siptrace/.libs/
siplog2siptrace/Makefile
siplog2siptrace/Makefile.in
siplog2siptrace/main.o
siplog2siptrace/siplog2siptrace
siptest/Makefile
siptest/Makefile.in
siptest/include/Makefile
siptest/include/Makefile.in
siptest/src/Makefile
siptest/src/Makefile.in
siptest/src/siptest/.deps/
siptest/src/siptest/.libs/
siptest/src/siptest/*.o
siptest/src/siptest/Makefile
siptest/src/siptest/Makefile.in
siptest/src/siptest/siptest
sipviewer/Makefile
sipviewer/Makefile.in
src/.libs/
src/Makefile
src/Makefile.in
src/libsipXtack.la
src/net/.deps/
src/net/.dirstamp
src/net/.libs/
src/net/libsipXtack_la-*.lo
src/net/libsipXtack_la-*.o
src/resparse/.deps/
src/resparse/.dirstamp
src/resparse/.libs/
src/resparse/*.lo
src/resparse/*.o
src/test/.deps/
src/test/.libs/
src/test/Makefile
src/test/Makefile.in
src/test/net/.deps/
src/test/net/.dirstamp
src/test/net/testsuite-*.o
src/test/sandbox
src/test/sandbox-SdpHelperTest.o
src/test/test-suite.log
src/test/testsuite
src/test/testsuite-SdpHelperTest.o
syslog2siptrace/.deps/
syslog2siptrace/.libs/
syslog2siptrace/Makefile
syslog2siptrace/Makefile.in
syslog2siptrace/main.o
syslog2siptrace/syslog2siptrace

