table.bglist th{
	font-family : Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight : bolder;
	color : #FFFACD;
	background-color : #669999;
}

.tableheader{
	font-family : Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight : bold;
	color : #FFFACD;
	background-color : #F0E68C;
}

table.bglist tr{
	background-color : #F0E68C;
	font-family : Arial, Helvetica, sans-serif;
	color : #2F4F4F;
	font-size : 12px;
	font-style : normal;
}

.tablecontents{
	background-color : #F0E68C;
	font-family : Arial, Helvetica, sans-serif;
	color : #2F4F4F;
	font-size : 12px;
	font-style : normal;
}

table.bglist {
	background-color : White;

}
table.bglist :link{
	font-family : Arial, Helvetica, sans-serif;
	color : #2F4F4F;
	font-size : 12px;
	font-style : normal;
}
tr.bgdark :link{
	font-family : Arial, Helvetica, sans-serif;
	color : #FFFFCC;
	font-size : 12px;
	font-style : normal;
}
tr.bgmedium :link{
	font-family : Arial, Helvetica, sans-serif;
	color : Black;
	font-size : 12px;
	font-style : normal;
}
.formtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #669999;
	font-weight: bolder;
	background-color : #FFFFCC;
}
h1.dms {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bolder;
	color: #FFFFFF;
}
.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
hr.dms {
	color: #669999;
	background-color: #669999;
	height: 2px;
	border: 0;
}
.formtitle {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 24px;
	font-weight: bolder;
	color: #669999;
	background-color : transparent;
}
body.bgdark {
	background-color: #669999
}
table.bglight {
	background-color: #FFFFCC
}

table.bgdark {
	background-color : #669999;
}

h2.dms {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	color: #FFFFFF;
}
body.bglight {
	background-color: #FFFFCC
}
h3.dms {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	color: #2F4F4F;
}
.white_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: White;
; text-decoration: none
}

.whitetext{
	font-family : Arial, Helvetica, sans-serif;
	color : White;
	font-size : 14px;
	font-style : normal;
}

a.whitetext{
	font-family : Arial, Helvetica, sans-serif;
	color : White;
	font-size : 14px;
	font-style : normal;
	text-decoration: none;
}
a.whitetext:HOVER{
	font-family : Arial, Helvetica, sans-serif;
	color : #FFCC33;
	font-size : 14px;
	font-style : normal;
	text-decoration: underline;
}

a.whitetext:active{
	font-family : Arial, Helvetica, sans-serif;
	color : #FFCC33;
	font-size : 14px;
	font-style : normal;
	text-decoration: underline;
}

a.greentext{
	font-family : Arial, Helvetica, sans-serif;
	color : #669999;
	font-size : 14px;
	font-style : normal;
	text-decoration: none;
	font-weight : bold;
}
a.greentext:HOVER{
	font-family : Arial, Helvetica, sans-serif;
	color : #669999;
	font-size : 14px;
	font-style : normal;
	text-decoration: underline;
	font-weight : bold;
}

a.greentext:active{
	font-family : Arial, Helvetica, sans-serif;
	color : #669999;
	font-size : 14px;
	font-style : normal;
	text-decoration: underline;
	font-weight : bold;
}

.yellowtext{
	font-family : Arial, Helvetica, sans-serif;
	color : #FFCC33;
	font-size : 14px;
	font-style : normal;
}
.notetext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: justify;
}
.statustext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
}
.statustitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
h1.list{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 24px;
	font-weight: bolder;
	color: #669999;
}
tr.listheader{
	font-family : Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight : bolder;
	color : #FFFACD;
	background-color : #669999;
}
tr.bglight{
	background-color : #F0E68C;
	font-family : Arial, Helvetica, sans-serif;
	color : #2F4F4F;
	font-size : 12px;
	font-style : normal;
}
tr.bgdark{
	background-color : #669999;
	font-family : Arial, Helvetica, sans-serif;
	color : #FFFFCC;
	font-size : 12px;
	font-style : normal;
}
tr.bgmedium{
	font-family : Arial, Helvetica, sans-serif;
	background-color : #DCDCDC;
	font-size : 12px;
	font-style : normal;
	color: Black;
}

TD.list {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #2F4F4F;
	text-align : left;
}
.notetextdrk {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #2F4F4F;
}
body {  margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px
}
body.blightcmd {
background-color: #FFFFCC;
margin-top: 4px;
margin-right: 0px;
margin-left: 4px;
margin-bottom: 0px
}
.readonly{
	background-color : #F0E68C;
	font-family : Arial, Helvetica, sans-serif;
	color : blue;
	font-size : 12px;
	font-weight : bold;
}
.errortext_light {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: Red;
	background-color : #FFFFCC;
}
.errortext_dark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: Red;
	background-color : #669999;
}
.errortext_yellow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: Red;
	background-color : #F0E68C;
}

. inputstyle{
	background-color : #F0E68C;
	font-family : Arial, Helvetica, sans-serif;
	color : #2F4F4F;
	font-size : 12px;
	font-style : normal;
}
