#set($ps = $phone.Settings)
#set($ls = $phone.Lines.get(0).Settings)
#set($sysset = $ps.getSetting('SYSTEM'))
[SYSTEM]
Language=$!sysset.getSetting('Language').Value
Admin_Password=$!sysset.getSetting('Admin_Password').Value
TFTP_Server_IP=$!sysset.getSetting('TFTP_Server_IP').Value
Country_Tone_Type=$!sysset.getSetting('Country_Tone_Type').Value
Use_DNS_SRV=$!sysset.getSetting('Use_DNS_SRV').Value
Vendor_ID=
Vendor_Password=
LCD_Contrast=$!sysset.getSetting('LCD_Contrast').Value
Watchdog_Timeout=$!sysset.getSetting('Watchdog_Timeout').Value

#set($rtp = $ps.getSetting('SIP').getSetting('RTP_RTCP'))
[RTP_RTCP]
Use_RTCP=$!rtp.getSetting('Use_RTCP').Value
RTP_Port_Min=$!rtp.getSetting('RTP_Port_Min').Value
RTP_Port_Max=$!rtp.getSetting('RTP_Port_Max').Value
RTCP_Report_Interval=$!rtp.getSetting('RTP_Report_Interval').Value
RTCP_CNAME=$!rtp.getSetting('RTCP_CNAME').Value
Last_RTP_Received_Timeout=$!rtp.getSetting('Last_RTP_Received_Timeout').Value

[WEB_SERVER]
Use_WEB_Server=$!sysset.getSetting('WebServer').Value

#set($slog = $ps.getSetting('SYSLOG'))
[SYSLOG]
Mode=$!slog.getSetting('Mode').Value
Server_IP=$!slog.getSetting('Server_IP').Value
Server_Port=$!slog.getSetting('Server_Port').Value
Use_MACIP_Header=$!slog.getSetting('Use_MACIP_Header').Value

#set($sntps = $ps.getSetting('SNTP'))
[TIME]
Enable_NTP=$!sntps.getSetting('Enable_NTP').Value
Date_Format=$!sntps.getSetting('Date_Format').Value
Time_Format=$!sntps.getSetting('Time_Format').Value
Time_Zone=$!sntps.getSetting('Time_Zone').Value
Enable_Daylight_Saving_Time=$!sntps.getSetting('Enable_Daylight_Saving_Time').Value
DST_Start_Month=$!sntps.getSetting('DST_Start_Month').Value
DST_Start_Day=$!sntps.getSetting('DST_Start_Day').Value
DST_Start_Hour=$!sntps.getSetting('DST_Start_Hour').Value
DST_Start_Min=$!sntps.getSetting('DST_Start_Min').Value
DST_End_Month=$!sntps.getSetting('DST_End_Month').Value
DST_End_Day=$!sntps.getSetting('DST_End_Day').Value
DST_End_Hour=$!sntps.getSetting('DST_End_Hour').Value
DST_End_Min=$!sntps.getSetting('DST_End_Min').Value
NTP_Refresh_Interval=$!sntps.getSetting('NTP_Refresh_Interval').Value
NTP_Server1=$!sntps.getSetting('NTP_Server1').Value
NTP_Server2=$!sntps.getSetting('NTP_Server2').Value

#set($pssip = $ps.getSetting('SIP'))
[SIP]
Local_Port=$!pssip.getSetting('Local_Port').Value
T1=$!pssip.getSetting('T1').Value
T2=$!pssip.getSetting('T2').Value
T4=$!pssip.getSetting('T4').Value
Timer_B=$!pssip.getSetting('Timer_B').Value
Timer_F=$!pssip.getSetting('Timer_F').Value
Use_User_Agent=$!pssip.getSetting('Use_User_Agent').Value
User_Agent_Name=$!pssip.getSetting('User_Agent_Name').Value
Use_Version_On_User_Agent=$!pssip.getSetting('Use_Version_On_User_Agent').Value
Use_Vendor_ID_On_User_Agent=0
Use_MAC_On_User_Agent=$!pssip.getSetting('Use_MAC_On_User_Agent').Value
Max_Forwards=$!pssip.getSetting('Max_Forward').Value
Retry_Hold_On_491=$!pssip.getSetting('Retry_Hold_On_491').Value
Caller_ID_Mode=$!pssip.getSetting('Caller_ID_Mode').Value
ICT_Transaction_Max_Count=$!pssip.getSetting('ICD_Transaction_Max_Count').Value
Use_rport=$!pssip.getSetting('Use_rport').Value
Options_Expire=$!pssip.getSetting('Options_Expire').Value
Request_REFER_Timeout=$!pssip.getSetting('Request_REFER_Timeout').Value
Wait_REFER_Response_Timeout=$!pssip.getSetting('Wait_REFER_Response_Timeout').Value
180_Retransmission_Interval=$!pssip.getSetting('180_Retransmission_Interval').Value
Invite_Expire=$!pssip.getSetting('Invite_Expire').Value
Reuse_Auth_Header_Within_Dialog=$!pssip.getSetting('Reuse_Auth_Header_Within_Dialog').Value
Reuse_Auth_Header_On_Register=$!pssip.getSetting('Reuse_Auth_Header_On_Register').Value
Register_Contact_Change=$!pssip.getSetting('Register_Contact_Change').Value
Use_Remove_All_Contact=$!pssip.getSetting('Use_Remove_All_Contact').Value
Use_Random_Contact=$!pssip.getSetting('Use_Random_Contact').Value
Retry_To_Redirect_Contact=$!pssip.getSetting('Retry_To_redirect_Contact').Value
Auth_Retry_Count=$!pssip.getSetting('Auth_Retry_Count').Value
Retry_Register_After_Auth_Fail=$!pssip.getSetting('Retry_Register_After_Auth_Fail').Value
Ignore_183_Without_SDP=$!pssip.getSetting('Ignore_183_Without_SDP').Value

#set($pssdp = $ps.getSetting('SIP').getSetting('SDP'))
[SDP]
Use_Increase_session_id=$!pssdp.getSetting('Use_Increase_session_id').Value
Use_Increase_version=$!pssdp.getSetting('Use_Increase_version').Value
Modified_Session_Detection=$!pssdp.getSetting('Modified_Session_Detection').Value
Session_Name=$!pssdp.getSetting('Session_Name').Value

#set($ua = $ls.getSetting('SIP'))
[USER_ACCOUNT]
Displayname=$!ua.getSetting('Displayname').Value
Phone_Number=$!ua.getSetting('Phone_Number').Value
User_ID=$!ua.getSetting('User_ID').Value
User_Password=$!ua.getSetting('User_Password').Value
URL_Scheme=0

#set($ss = $ps.getSetting('SERVER_SETTINGS'))
[SERVER_SETTINGS]
1st_Proxy=$!ss.getSetting('1st_Proxy').Value
1st_Registrar=$!ss.getSetting('1st_Registrar').Value
2nd_Proxy=$!ss.getSetting('2nd_Proxy').Value
2nd_Registrar=$!ss.getSetting('2nd_Registrar').Value
Domain_Realm=$!ss.getSetting('Domain_Realm').Value
Register_Expire=$!ss.getSetting('Register_Expire').Value
Register_Retry_Backoff_Interval=60,120,240,480,960

[REDUNDANCY]
Mode=0
Request_Timeout=4000
Use_Fixed_Primary_Server=1
Use_DNS_Additional_Records=0

[DIALPLAN]
External_Prefix=0
Caller_ID_On_Prefix=186
Caller_ID_Off_Prefix=184
Global_Network_Prefix=+

[BASIC_CALL]
Busy_Tone_Count=10
Transfer_Busy_Tone_Count=10
Call_Waiting_Tone_Count=-1
Reject_Hold_Request_On_Hold=1
Reject_Hold_Request_On_2Calls=0
Block_Request_Hold_On_Holded=0
Session_Expire=1800
Ringing_Timeout=180
Update_RBT=0
Dial_Sending_Timeout=30000
Check_Alias_In_Call_List=1
Remove_DASH_On_Alias=1
Use_Silent_Packet_On_Mute=0
Echo_Canceller=0
Reject_Invite_During_BT=1

[HOLD]
Mode=0
Use_Local_Hold_Tone=1
RTP_Hold_Multiframe=40
RTP_Hold_Play_Wait_Time=500
Enable_Hold_With_Inactive=0
Enable_RTP_Hold=1

[MWI]
Use_MWI=0
Use_Subscribe=0
Subscribe_Server=
Subscribe_Expire=3600

[TRANSFER]
Use_Transfer_Target_Hold=1
Use_Consultation_Transfer=1
Use_Blind_Transfer=1
Use_100_NOTIFY=1
Use_Attended_Transfer_On_Incomming_Call=1
Use_Contact_For_Refer_To=1
Use_Attended_Transfer_On_Call_Switch=1
Check_BYE_After_Refer=0

[CONFERENCE]
Use_Conference=0
Phone_Number=conference

[DIAL_MODE]
DTMF_Input_Timeout=20
UnHold_Indication_Timeout=30
Overlap_Send_Timeout=4
Use_Overlap_Send_on_Hold=0

#set($ring = $ps.getSetting('RingAndAlert').getSetting('RING'))
[RING]
Use_Ring=$!ring.getSetting('Use_Ring').Value
External1_Ring_Type=$!ring.getSetting('External1_Ring_Type').Value
External1_Mode=$!ring.getSetting('External1_Mode').Value
External1_Led=$!ring.getSetting('External1_Led').Value
External2_Ring_Type=$ring.getSetting('External2_Ring_Type').Value
External2_Mode=$!ring.getSetting('External2_Mode').Value
External2_Led=$!ring.getSetting('External2_Led').Value
Internal1_Ring_Type=$!ring.getSetting('Internal1_Ring_Type').Value
Internal1_Mode=$!ring.getSetting('Internal1_Mode').Value
Internal1_Led=$!ring.getSetting('Internal1_Led').Value
Internal2_Ring_Type=$!ring.getSetting('Internal2_Ring_Type').Value
Internal2_Mode=$!ring.getSetting('Internal2_Mode').Value
Internal2_Led=$!ring.getSetting('Internal2_Led').Value
Message_Mode=$!ring.getSetting('Message_Mode').Value
Message_Ring_Type=$!ring.getSetting('Message_Ring_Type').Value
Message_Ring_Volume=$!ring.getSetting('Message_Ring_Volume').Value
ID_String_External1=$!ring.getSetting('ID_String_External1').Value
ID_String_External2=$!ring.getSetting('ID_String_External2').Value
ID_String_Internal1=$!ring.getSetting('ID_String_Internal1').Value
ID_String_Internal2=$!ring.getSetting('ID_String_Internal2').Value
ID_String_Silence=$!ring.getSetting('ID_String_Silence').Value

#set($ring2 = $ps.getSetting('RingAndAlert').getSetting('RING2'))
[RING2]
Use_Ring2=$!ring2.getSetting('Use_Ring2').Value
Received_Number1_Location=$!ring2.getSetting('Received_Number1_Location').Value
Received_Number1=$!ring2.getSetting('Received_Number1').Value
Received1_Ring_Type=$!ring2.getSetting('Received1_Ring_Type').Value
Received1_Mode=$!ring2.getSetting('Received1_Mode').Value
Received1_Led=$!ring2.getSetting('Received1_Led').Value
Received_Number2_Location=$!ring2.getSetting('Received_Number2_Location').Value
Received_Number2=$!ring2.getSetting('Received_Number2').Value
Received2_Ring_Type=$!ring2.getSetting('Received2_Ring_Type').Value
Received2_Mode=$!ring2.getSetting('Received2_Mode').Value
Received2_Led=$!ring2.getSetting('Received2_Led').Value
Received_Number3_Location=$!ring2.getSetting('Received_Number3_Location').Value
Received_Number3=$!ring2.getSetting('Received_Number3').Value
Received3_Ring_Type=$!ring2.getSetting('Received3_Ring_Type').Value
Received3_Mode=$!ring2.getSetting('Received3_Mode').Value
Received3_Led=$!ring2.getSetting('Received3_Led').Value
Received_Number4_Location=$!ring2.getSetting('Received_Number4_Location').Value
Received_Number4=$!ring2.getSetting('Received_Number4').Value
Received4_Ring_Type=$!ring2.getSetting('Received4_Ring_Type').Value
Received4_Mode=$!ring2.getSetting('Received4_Mode').Value
Received4_Led=$!ring2.getSetting('Received4_Led').Value
Received_Number5_Location=$!ring2.getSetting('Received_Number5_Location').Value
Received_Number5=$!ring2.getSetting('Received_Number5').Value
Received5_Ring_Type=$!ring2.getSetting('Received5_Ring_Type').Value
Received5_Mode=$!ring2.getSetting('Received5_Mode').Value
Received5_Led=$!ring2.getSetting('Received5_Led').Value
Received_External_Ring_Type=$!ring2.getSetting('Received_External_Ring_Type').Value
Received_External_Mode=$!ring2.getSetting('Received_External_Mode').Value
Received_External_Led=$!ring2.getSetting('Received_External_Led').Value
Received_Internal_Ring_Type=$!ring2.getSetting('Received_Internal_Ring_Type').Value
Received_Internal_Mode=$!ring2.getSetting('Received_Internal_Mode').Value
Received_Internal_Led=$!ring2.getSetting('Received_Internal_Led').Value
Dialed_Number1=$!ring2.getSetting('Dialed_Number1').Value
Dialed1_Ring_Type=$!ring2.getSetting('Dialed1_Ring_Type').Value
Dialed1_Mode=$!ring2.getSetting('Dialed1_Mode').Value
Dialed1_Led=$!ring2.getSetting('Dialed1_Led').Value
Dialed_Number2=$!ring2.getSetting('Dialed_Number2').Value
Dialed2_Ring_Type=$!ring2.getSetting('Dialed2_Ring_Type').Value
Dialed2_Mode=$!ring2.getSetting('Dialed2_Mode').Value
Dialed2_Led=$!ring2.getSetting('Dialed2_Led').Value
Dialed_Number3=$!ring2.getSetting('Dialed_Number3').Value
Dialed3_Ring_Type=$!ring2.getSetting('Dialed3_Ring_Type').Value
Dialed3_Mode=$!ring2.getSetting('Dialed3_Mode').Value
Dialed3_Led=$!ring2.getSetting('Dialed3_Led').Value
Dialed_Number4=$!ring2.getSetting('Dialed_Number4').Value
Dialed4_Ring_Type=$!ring2.getSetting('Dialed4_Ring_Type').Value
Dialed4_Mode=$!ring2.getSetting('Dialed4_Mode').Value
Dialed4_Led=$!ring2.getSetting('Dialed4_Led').Value
Dialed_Number5=$!ring2.getSetting('Dialed_Number5').Value
Dialed5_Ring_Type=$!ring2.getSetting('Dialed5_Ring_Type').Value
Dialed5_Mode=$!ring2.getSetting('Dialed5_Mode').Value
Dialed5_Led=$!ring2.getSetting('Dialed5_Led').Value

[KEY_TONE]
Key_Tone_Volume=3

#set($wifiset = $ps.getSetting('WiFiSettinfs').getSetting('WIFI'))
[WIFI]
Data_Packet_TxRate=$wifiset.getSetting('Data_Packet_TxRate').Value
Dot11_Packet_TxRate=$wifiset.getSetting('Dot11_Packet_TxRate').Value
Use_PowerSave=$wifiset.getSetting('Use_PowerSave').Value
PowerSave_Wakeup_Period=$wifiset.getSetting('PowerSave_Wakeup_Period').Value
PowerSave_Awake_Interval=$wifiset.getSetting('PowerSave_Awake_Interval').Value
Domain=$wifiset.getSetting('Domain').Value
Use_Statistics_Window=$wifiset.getSetting('Use_Statistics_Window').Value
Statistics_Window_Update_Interval=$wifiset.getSetting('Statistics_Window_Update_Interval').Value
Use_Meru_Extension=$wifiset.getSetting('Use_Menu_Extension').Value
Short_Retry_Limit=7
Long_Retry_Limit=7
Preamble_Mode=0
RTS_Threshold=2347
Default_Listen_Interval=3
RxLevel_Association_Threshold=-69
Use_PowerSave_Monitor=1
Use_Supported_Rates_By_AP=0

[WIFI_SCAN]
Scan_Count=1
Scan_Channel_List=1,2,3,4,5,6,7,8,9,10,11,12,13,14

[ROAMING]
Try_RxLevel=-79
PreRoaming_Enable_RxLevel=-59
Try_Over_TxError_Count=10
Try_Over_RxError_Count=10
Level_Diff_Higher_Than_Curr_Site=10
Use_Refresh_PreRoaming=1
Enable_PreRoaming_On_Association=0
PreRoaming_Mode=0
PreRoaming_Refresh_Interval=3
Clear_Blacklist_Interval=3

#set($net1 = $ps.getSetting('NETWORK1'))
[NETWORK1]
Name=$!net1.getSetting('Name').Value
Enable=$!net1.getSetting('Enable').Value
Join_Method=$!net1.getSetting('Join_Method').Value
SIP_Outbound_Proxy=$!net1.getSetting('SIP_Outbound_Proxy').Value
SSID=$!net1.getSetting('SSID').Value
Enable_DHCP=$!net1.getSetting('Enable_DHCP').Value
Address=$!net1.getSetting('Address').Value
Netmask=$!net1.getSetting('Netmask').Value
Gateway=$!net1.getSetting('Gateway').Value
DNS1=$!net1.getSetting('DNS1').Value
DNS2=$!net1.getSetting('DNS2').Value
Enable_WEP=$!net1.getSetting('Enable_WEP').Value
WEP_Bits=$!net1.getSetting('WEP_Bits').Value
Default_WEP_Key=$!net1.getSetting('Default_WEP_Key').Value
WEP_Key1=$!net1.getSetting('WEP_Key1').Value
WEP_Key2=$!net1.getSetting('WEP_Key2').Value
WEP_Key3=$!net1.getSetting('WEP_Key3').Value
WEP_Key4=$!net1.getSetting('WEP_Key4').Value
Authentication_Algorithm=$!net1.getSetting('Authentication_Algorithm').Value
Post_Authentication_Mode=$!net1.getSetting('Post_Authentication_Mode').Value
8021X_Name=$!net1.getSetting('8021X_Name').Value
8021X_Password=$!net1.getSetting('8021X_Password').Value
UAM_Use_Manual=$!net1.getSetting('UAM_Use_Manual').Value
UAM_Login_URL=$!net1.getSetting('UAM_Login_URL').Value
UAM_IDTag_Name=$!net1.getSetting('UAM_IDTag_Name').Value
UAM_PWTag_Name=$!net1.getSetting('UAM_PWTag_Name').Value
UAM_URL=$!net1.getSetting('UAM_URL').Value
UAM_ID=$!net1.getSetting('UAM_ID').Value
UAM_Password=$!net1.getSetting('UAM_Password').Value
NAT_Traversal_Mode=$!net1.getSetting('NAT_Traversal_Mode').Value
Static_NAT_External_IP=$!net1.getSetting('Static_NAT_External_IP').Value
Static_NAT_Start_Port=$!net1.getSetting('Static_NAT_Start_Port').Value
STUN_Server=$!net1.getSetting('STUN_Server').Value
STUN_Port=$!net1.getSetting('STUN_Port').Value
DiffServ_Signal=$!net1.getSetting('DiffServ_Signal').Value
DiffServ_Media=$!net1.getSetting('DiffServ_Media').Value
Jitter_Buffer_Size=$!net1.getSetting('Jitter_Buffer_Size').Value
Payload_Type=$!net1.getSetting('Payload_Type').Value
Multiframe=$!net1.getSetting('Multiframe').Value

#set($net2 = $ps.getSetting('NETWORK2'))
[NETWORK2]
Name=$!net2.getSetting('Name').Value
Enable=$!net2.getSetting('Enable').Value
Join_Method=$!net2.getSetting('Join_Method').Value
SIP_Outbound_Proxy=$!net2.getSetting('SIP_Outbound_Proxy').Value
SSID=$!net2.getSetting('SSID').Value
Enable_DHCP=$!net2.getSetting('Enable_DHCP').Value
Address=$!net2.getSetting('Address').Value
Netmask=$!net2.getSetting('Netmask').Value
Gateway=$!net2.getSetting('Gateway').Value
DNS1=$!net2.getSetting('DNS1').Value
DNS2=$!net2.getSetting('DNS2').Value
Enable_WEP=$!net2.getSetting('Enable_WEP').Value
WEP_Bits=$!net2.getSetting('WEP_Bits').Value
Default_WEP_Key=$!net2.getSetting('Default_WEP_Key').Value
WEP_Key1=$!net2.getSetting('WEP_Key1').Value
WEP_Key2=$!net2.getSetting('WEP_Key2').Value
WEP_Key3=$!net2.getSetting('WEP_Key3').Value
WEP_Key4=$!net2.getSetting('WEP_Key4').Value
Authentication_Algorithm=$!net2.getSetting('Authentication_Algorithm').Value
Post_Authentication_Mode=$!net2.getSetting('Post_Authentication_Mode').Value
8021X_Name=$!net2.getSetting('8021X_Name').Value
8021X_Password=$!net2.getSetting('8021X_Password').Value
UAM_Use_Manual=$!net2.getSetting('UAM_Use_Manual').Value
UAM_Login_URL=$!net2.getSetting('UAM_Login_URL').Value
UAM_IDTag_Name=$!net2.getSetting('UAM_IDTag_Name').Value
UAM_PWTag_Name=$!net2.getSetting('UAM_PWTag_Name').Value
UAM_URL=$!net2.getSetting('UAM_URL').Value
UAM_ID=$!net2.getSetting('UAM_ID').Value
UAM_Password=$!net2.getSetting('UAM_Password').Value
NAT_Traversal_Mode=$!net2.getSetting('NAT_Traversal_Mode').Value
Static_NAT_External_IP=$!net2.getSetting('Static_NAT_External_IP').Value
Static_NAT_Start_Port=$!net2.getSetting('Static_NAT_Start_Port').Value
STUN_Server=$!net2.getSetting('STUN_Server').Value
STUN_Port=$!net2.getSetting('STUN_Port').Value
DiffServ_Signal=$!net2.getSetting('DiffServ_Signal').Value
DiffServ_Media=$!net2.getSetting('DiffServ_Media').Value
Jitter_Buffer_Size=$!net2.getSetting('Jitter_Buffer_Size').Value
Payload_Type=$!net2.getSetting('Payload_Type').Value
Multiframe=$!net2.getSetting('Multiframe').Value

#set($net3 = $ps.getSetting('NETWORK3'))
[NETWORK3]
Name=$!net3.getSetting('Name').Value
Enable=$!net3.getSetting('Enable').Value
Join_Method=$!net3.getSetting('Join_Method').Value
SIP_Outbound_Proxy=$!net3.getSetting('SIP_Outbound_Proxy').Value
SSID=$!net3.getSetting('SSID').Value
Enable_DHCP=$!net3.getSetting('Enable_DHCP').Value
Address=$!net3.getSetting('Address').Value
Netmask=$!net3.getSetting('Netmask').Value
Gateway=$!net3.getSetting('Gateway').Value
DNS1=$!net3.getSetting('DNS1').Value
DNS2=$!net3.getSetting('DNS2').Value
Enable_WEP=$!net3.getSetting('Enable_WEP').Value
WEP_Bits=$!net3.getSetting('WEP_Bits').Value
Default_WEP_Key=$!net3.getSetting('Default_WEP_Key').Value
WEP_Key1=$!net3.getSetting('WEP_Key1').Value
WEP_Key2=$!net3.getSetting('WEP_Key2').Value
WEP_Key3=$!net3.getSetting('WEP_Key3').Value
WEP_Key4=$!net3.getSetting('WEP_Key4').Value
Authentication_Algorithm=$!net3.getSetting('Authentication_Algorithm').Value
Post_Authentication_Mode=$!net3.getSetting('Post_Authentication_Mode').Value
8021X_Name=$!net3.getSetting('8021X_Name').Value
8021X_Password=$!net3.getSetting('8021X_Password').Value
UAM_Use_Manual=$!net3.getSetting('UAM_Use_Manual').Value
UAM_Login_URL=$!net3.getSetting('UAM_Login_URL').Value
UAM_IDTag_Name=$!net3.getSetting('UAM_IDTag_Name').Value
UAM_PWTag_Name=$!net3.getSetting('UAM_PWTag_Name').Value
UAM_URL=$!net3.getSetting('UAM_URL').Value
UAM_ID=$!net3.getSetting('UAM_ID').Value
UAM_Password=$!net3.getSetting('UAM_Password').Value
NAT_Traversal_Mode=$!net3.getSetting('NAT_Traversal_Mode').Value
Static_NAT_External_IP=$!net3.getSetting('Static_NAT_External_IP').Value
Static_NAT_Start_Port=$!net3.getSetting('Static_NAT_Start_Port').Value
STUN_Server=$!net3.getSetting('STUN_Server').Value
STUN_Port=$!net3.getSetting('STUN_Port').Value
DiffServ_Signal=$!net3.getSetting('DiffServ_Signal').Value
DiffServ_Media=$!net3.getSetting('DiffServ_Media').Value
Jitter_Buffer_Size=$!net3.getSetting('Jitter_Buffer_Size').Value
Payload_Type=$!net3.getSetting('Payload_Type').Value
Multiframe=$!net3.getSetting('Multiframe').Value

#set($net4 = $ps.getSetting('NETWORK4'))
[NETWORK4]
Name=$!net4.getSetting('Name').Value
Enable=$!net4.getSetting('Enable').Value
Join_Method=$!net4.getSetting('Join_Method').Value
SIP_Outbound_Proxy=$!net4.getSetting('SIP_Outbound_Proxy').Value
SSID=$!net4.getSetting('SSID').Value
Enable_DHCP=$!net4.getSetting('Enable_DHCP').Value
Address=$!net4.getSetting('Address').Value
Netmask=$!net4.getSetting('Netmask').Value
Gateway=$!net4.getSetting('Gateway').Value
DNS1=$!net4.getSetting('DNS1').Value
DNS2=$!net4.getSetting('DNS2').Value
Enable_WEP=$!net4.getSetting('Enable_WEP').Value
WEP_Bits=$!net4.getSetting('WEP_Bits').Value
Default_WEP_Key=$!net4.getSetting('Default_WEP_Key').Value
WEP_Key1=$!net4.getSetting('WEP_Key1').Value
WEP_Key2=$!net4.getSetting('WEP_Key2').Value
WEP_Key3=$!net4.getSetting('WEP_Key3').Value
WEP_Key4=$!net4.getSetting('WEP_Key4').Value
Authentication_Algorithm=$!net4.getSetting('Authentication_Algorithm').Value
Post_Authentication_Mode=$!net4.getSetting('Post_Authentication_Mode').Value
8021X_Name=$!net4.getSetting('8021X_Name').Value
8021X_Password=$!net4.getSetting('8021X_Password').Value
UAM_Use_Manual=$!net4.getSetting('UAM_Use_Manual').Value
UAM_Login_URL=$!net4.getSetting('UAM_Login_URL').Value
UAM_IDTag_Name=$!net4.getSetting('UAM_IDTag_Name').Value
UAM_PWTag_Name=$!net4.getSetting('UAM_PWTag_Name').Value
UAM_URL=$!net4.getSetting('UAM_URL').Value
UAM_ID=$!net4.getSetting('UAM_ID').Value
UAM_Password=$!net4.getSetting('UAM_Password').Value
NAT_Traversal_Mode=$!net4.getSetting('NAT_Traversal_Mode').Value
Static_NAT_External_IP=$!net4.getSetting('Static_NAT_External_IP').Value
Static_NAT_Start_Port=$!net4.getSetting('Static_NAT_Start_Port').Value
STUN_Server=$!net4.getSetting('STUN_Server').Value
STUN_Port=$!net4.getSetting('STUN_Port').Value
DiffServ_Signal=$!net4.getSetting('DiffServ_Signal').Value
DiffServ_Media=$!net4.getSetting('DiffServ_Media').Value
Jitter_Buffer_Size=$!net4.getSetting('Jitter_Buffer_Size').Value
Payload_Type=$!net4.getSetting('Payload_Type').Value
Multiframe=$!net4.getSetting('Multiframe').Value

#set($net5 = $ps.getSetting('NETWORK5'))
[NETWORK5]
Name=$!net5.getSetting('Name').Value
Enable=$!net5.getSetting('Enable').Value
Join_Method=$!net5.getSetting('Join_Method').Value
SIP_Outbound_Proxy=$!net5.getSetting('SIP_Outbound_Proxy').Value
SSID=$!net5.getSetting('SSID').Value
Enable_DHCP=$!net5.getSetting('Enable_DHCP').Value
Address=$!net5.getSetting('Address').Value
Netmask=$!net5.getSetting('Netmask').Value
Gateway=$!net5.getSetting('Gateway').Value
DNS1=$!net5.getSetting('DNS1').Value
DNS2=$!net5.getSetting('DNS2').Value
Enable_WEP=$!net5.getSetting('Enable_WEP').Value
WEP_Bits=$!net5.getSetting('WEP_Bits').Value
Default_WEP_Key=$!net5.getSetting('Default_WEP_Key').Value
WEP_Key1=$!net5.getSetting('WEP_Key1').Value
WEP_Key2=$!net5.getSetting('WEP_Key2').Value
WEP_Key3=$!net5.getSetting('WEP_Key3').Value
WEP_Key4=$!net5.getSetting('WEP_Key4').Value
Authentication_Algorithm=$!net5.getSetting('Authentication_Algorithm').Value
Post_Authentication_Mode=$!net5.getSetting('Post_Authentication_Mode').Value
8021X_Name=$!net5.getSetting('8021X_Name').Value
8021X_Password=$!net5.getSetting('8021X_Password').Value
UAM_Use_Manual=$!net5.getSetting('UAM_Use_Manual').Value
UAM_Login_URL=$!net5.getSetting('UAM_Login_URL').Value
UAM_IDTag_Name=$!net5.getSetting('UAM_IDTag_Name').Value
UAM_PWTag_Name=$!net5.getSetting('UAM_PWTag_Name').Value
UAM_URL=$!net5.getSetting('UAM_URL').Value
UAM_ID=$!net5.getSetting('UAM_ID').Value
UAM_Password=$!net5.getSetting('UAM_Password').Value
NAT_Traversal_Mode=$!net5.getSetting('NAT_Traversal_Mode').Value
Static_NAT_External_IP=$!net5.getSetting('Static_NAT_External_IP').Value
Static_NAT_Start_Port=$!net5.getSetting('Static_NAT_Start_Port').Value
STUN_Server=$!net5.getSetting('STUN_Server').Value
STUN_Port=$!net5.getSetting('STUN_Port').Value
DiffServ_Signal=$!net5.getSetting('DiffServ_Signal').Value
DiffServ_Media=$!net5.getSetting('DiffServ_Media').Value
Jitter_Buffer_Size=$!net5.getSetting('Jitter_Buffer_Size').Value
Payload_Type=$!net5.getSetting('Payload_Type').Value
Multiframe=$!net5.getSetting('Multiframe').Value

[DTMF]
Mode=2
Duration=100
RFC2833_Volume=10
RFC2833_Payload_Type=101
Enable_Auto_DTMF_Mode=0

[CALLER_ID]
Use_Caller_ID_OnOff=1
Enable_Caller_ID=1
Anonymous_Displayname=Anonymous
Use_Update_Caller_ID=0
Hide_Displayname=0
Update_Caller_ID_After_Transfer=1

#set($UI = $ps.getSetting('UI'))
[UI]
Dial_Number_Font_Size=$!UI.getSetting('Dial_Number_Font_Size').Value
Enable_Key_Lock=$!UI.getSetting('Enable_Key_Lock').Value
Enable_Key_Lock_Password=$!UI.getSetting('Enable_Key_Lock_Password').Value
Enable_Mannermode=$!UI.getSetting('Enable_Mannermode').Value
Enable_Error_Indication=$!UI.getSetting('Enable_Error_Indication').Value
Use_Advanced_Rate_Set=$!UI.getSetting('Use_Advanced_Rate_Set').Value
Network_Setup_Menu_Location=$!UI.getSetting('Network_Setup_Menu_Location').Value
SIP_Menu_Location=$!UI.getSetting('SIP_Menu_Location').Value

[PHONEBOOK]
Use_Index_Sending=1

[PRESENCE]
Use_Presence=1
Enable_Online_Ring=1
Online_Ring_Type=3
Online_Ring_Mode=3
Subscribe_Expire=600
Presence_Server=
Use_Register=0

[SERVICE_LAMP]
Enable_Service_Lamp=1
Red_Alert_Antenna_Level=0
Indication_Interval=10
Indication_Mode=0

[DYNAMIC_NETWORK]
Backoff_Interval=4,8,16,32,64
DHCP_Verify_Count=3
DHCP_Verify_Interval=1
8021X_Bind_Timeout=15

[TONE_TYPE]
Dial_Tone_Type_On_Idle=2
Dial_Tone_Type_On_Hold=0
Send_Dial_Tone_Type=1

[AUTO_UPGRADE]
Enable=0
Time=0
Repeat=0

[PROVISION]
Use_Provision=0
Configuration_URL=
Firmware_URL=
Configuration_Version=
Firmware_Version=
