*.swp
BUILDSTAMP
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
aclocal.m4
autom4te.cache/
bin/Makefile.in
bin/sipxportlib-config
doc/Makefile.in
include/Makefile.in
src/.libs/
src/Makefile.in

**/libsipXport_la-*.lo
**/libsipXport_la-*.o
**/testsuite-*.o
**/libsipXunit_la-*.lo
**/libsipXunit_la-*.o
**/.dirstamp
**/.deps
src/hmac-sha1/.libs/
src/libsipXport.la
src/os/.libs/
src/os/*.lo
src/os/*.o
src/os/linux/.libs/
src/os/linux/*.lo
src/os/linux/*.o
src/test/testplugin/*.la
src/test/testplugin/*.lo
src/test/testplugin/*.o
src/test/utl/*.o
src/hmac-sha1/*.lo
src/hmac-sha1/*.o
src/test/*.log
src/test/sandbox
src/test/.libs/
src/test/os/sandbox-*.o
src/test/processAlias.dat
src/test/sipxportunit/.libs/
src/test/sipxportunit/libsipXunit.la
src/test/testConfig.conf
src/test/testLaunch.err
src/test/testLaunch.out
src/test/testManager.err
src/test/testManager1.out
src/test/testManager2.out
src/test/testplugin/.libs/
src/test/testsuite
src/test/UtlHashMapPerformance
src/test/UtlListPerformance
syslogviewer/Makefile.in
syslogviewer/main.o
syslogviewer/syslogviewer

