body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	background:#FFFFCC;
}

a:link
{
	color:#000099;
}

a:visited
{
	color:#660099;
}

a:hover,a:active
{
	color:#006699;
}

h1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#003333;
}

h2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#003333;
}

h3
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bolder;
	color:#003333;
}

h4
{
	font:bold 100%;
}

h5
{
	font:italic 100%;
}

h6
{
	font:small-caps 100%;
}

dt
{
	font-weight:bold;
}

dd
{
	margin-top:5px;
	margin-bottom:5px;
}

pre,tt,code,kbd,samp
{
	color:#009;
	font-family:monospace;
}

ul
{
	list-style-type:none;
}

legend
{
	color:#000;
	font:bold 80%;
	font-size:120%;
}

.hack
{
	color:#f60;
}

ul.tabArea
{
	list-style:none;
	padding:2px;
}

ul.tabArea li
{
	white-space:nowrap;
	display:inline;
	margin:0;
	padding:0 .3em 0 0;
}

li.tab a:link,li.tab a:hover,li.tab a:visited
{
	color:#00f;
}

li.tab.active a:link,li.tab.active a:hover,li.tab.active a:visited
{
	text-decoration:none;
	color:#000;
}

#lastmodified
{
	align:right;
	font-style:italic;
}

#banner
{
	height:0;
	color:#fff;
	border-bottom:thick solid #669999;
	padding:55px 0 20px 120px;
	background:url(/sipxconfig/images/sipxconfig-logo.png) no-repeat left #669999;
}

#banner-links
{
	float:right;
	padding:0 20px 0 0;
}

#banner-links a
{
	text-decoration:none;
	color:#fff;
	padding:0 5px;
}

#banner-links a:hover,a:active
{
	color:#003333;
}

#navigation
{
	/* make navigation roughly as high as the following ul element that it contains */
	height: 2em;
	padding-bottom: 2px;
	margin: 0;
	background:#669999;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation li {
	float: left;
	position: relative;
	width: 12em;
	background:#669999;
	text-align:center;
	margin: 0;
	padding: 0;
}

#navigation li ul {
	display: none;
	position: absolute; 
	top: 1em;
	left: 0em;
}

#navigation li > ul {
	top: auto;
	left: auto;
}

#navigation li:hover ul { 
	display: block; 
}

#navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
	background: #669999;
	padding: 5px;
	border: 1px solid #FFFFCC;
}

#navigation a:hover {
	color: #003333;
	background: #999999;
}

#content
{
	clear: left;
	padding: 10px;
}

#settings-nav
{
	float:left;
}

#settings-nav ul
{
	list-style-type:none;
	margin:2px;
	padding:2px;
}

#settings-nav a
{
	white-space:nowrap;
}

#settings-content
{
	margin-left:12em;
}

.highlight
{
	border: dashed 1px #699;
}

#footer
{
	clear:both;
	color:#fff;
	border-top:thick solid #3D3D3D;
	text-align:center;
	padding:10px;
	background:#669999;
}

.pageLabel
{
	font-weight:bold;
}

p.message
{
	font-weight:bold;
	color:red;
}

.settingDefault
{
	font-style:italic;
}

.settingDescription
{
	font-style:80%;
	color:#555;
}

li
{
	margin-top:5px;
	margin-bottom:5px;
}

ul.component-links
{
	width:50em;
	list-style-type:none;
	text-align:right;
}

ul.component-links li
{
	display:inline;
	padding-left:1em;
}

ul.component-submit
{
	list-style-type:none;
	margin:5px;
	padding:0;
}

ul.component-submit li
{
	white-space:nowrap;
	display:inline;
	margin:0 5px;
}

table.component
{
	width:50em;
	border-collapse:collapse;
	border:1px;
	border-color:#ccc;
	border-style:solid;
	background:#fff;
}

table.component thead
{
	color:#fff;
	background:#3d3d3d;
}

table.component thead tr th
{
	border:1px;
	white-space:nowrap;
	border-color:#FFFFCC;
	border-style:solid;
	padding:3px;
}

table.component th a
{
    text-decoration:none;
	color:#fff;
}

table.component tbody tr td
{
	white-space:nowrap;
	border-collapse:collapse;
	padding-bottom:3px;
	padding-top:3px;
}

table.component tfoot tr td
{
	text-align:center;
	border:1px;
	white-space:nowrap;
	border-color:#FFFFCC;
	border-style:solid;
	padding:3px;
	background:#FFFFCC;
}

ul.component-selection
{
	list-style-type:none;
	margin:0 2px 2px;
	padding:0;
}

ul.component-selection li
{
	display:inline;
	margin:0 5px;
}

ul.component-selection li a
{
	text-decoration:none;
	font-size:.8em;
}

tr.even
{
	background:#eee;
}

tr.odd
{
	background:#fff;
}

.component-action
{
	font-style:italic;
}

ul.component-pager
{
	list-style-type:none;
}

ul.component-pager li
{
	display:inline;
	margin:0 5px;
}

div.help
{
	float:right;
	width:15em;
	margin-left:20px;
	border-collapse:collapse;
	border:1px;
	border-color:#ccc;
	border-style:solid;
	padding:5px;
	background:#fff;
}

div.search 
{
	float:right;
	padding:0 20px 0 0;
}

fieldset
{
	margin-top:1em;
	border-style:none;
}

label
{
	font-size:120%;
	padding-right:1em;
}

form.with-sections fieldset
{
	border-top-width:2em;
	border-color:#FFFFCC;
	border-style:solid !important;
	background:#FFFFCC;
}

fieldset td
{
	padding:3px;
}

form.with-sections legend
{
	background:#F0E68C;
}

.page-label
{
	font-weight:bold;
	margin:2px;
	padding:2px;
}

ul.form-actions
{
	list-style-type:none;
	text-align:left;
}

ul.form-actions li
{
	display:inline;
}

.banner-logo
{
	display:none;
}

.hide
{
	display:none;
}

.user-error
{
	font-weight:bold;
	color:#CC3333;
}

.user-success
{
	font-weight:bold;
	color:#3399FF;
}

#comments
{
	border-top:solid;
	color:#000033;
}

#col1
{
	float:left;
	width:25em;
}

#col2
{
	float:left;
	width:25em;
}

TABLE.tapestry-palette TH
 {
   font-size: 9pt;
   font-weight: bold;
   color: white;
   background-color: #3d3d3d;
   text-align: center;
 }

 TD.available-cell SELECT
 {
   font-weight: normal;
   background-color: #FFFFFF;
   width: 200px;
 }
 
 TD.selected-cell SELECT
 {
   font-weight: normal;
   background-color: #FFFFFF;
   width: 200px;
 }
 
 TABLE.tapestry-palette TD.controls
 {
   text-align: center;
   vertical-align: middle;
   width: 60px;
 }
