<?xml version="1.0" standalone="yes"?>
<!-- SIP Application Configuration File -->
<!-- Revision: 1.57.2.1 Date: 2004/07/27 00:23:34 -->
<sip>
	<voIpProt>
		<local 
#set ($group = $cfg.EndpointSettings.getSetting('voIpProt.SIP').getSetting('local'))
#foreach ($setting in $cfg.getSettings($group))
        voIpProt.local.${setting.ProfileName}="$!{setting.ProfileValue}"
#end        
        />
		<server 
#set ($group = $cfg.EndpointSettings.getSetting('voIpProt').getSetting('server'))
#foreach ($setting in $cfg.getRecursiveSettings($group))
    voIpProt.${setting.ProfileName}="$!{setting.ProfileValue}"
#end
          />
		<SIP 
#set ($group = $cfg.EndpointSettings.getSetting('voIpProt.SIP').getSetting('protocol'))  
#foreach ($setting in $cfg.getSettings($group))
        voIpProt.SIP.${setting.ProfileName}="$!{setting.ProfileValue}"
#end	
			>
			<outboundProxy 
#set ($group = $cfg.EndpointSettings.getSetting('voIpProt').getSetting('SIP.outboundProxy'))
#foreach ($setting in $cfg.getSettings($group))
    voIpProt.SIP.outboundProxy.${setting.ProfileName}="$!{setting.ProfileValue}"
#end			
				/>
			<alertInfo 
			    voIpProt.SIP.alertInfo.1.value="" 
				voIpProt.SIP.alertInfo.1.class=""/>
			<requestValidation voIpProt.SIP.requestValidation.1.request="" 
				voIpProt.SIP.requestValidation.1.method="" 
				voIpProt.SIP.requestValidation.1.request.1.event="">
				<digest 
					voIpProt.SIP.requestValidation.digest.realm="PolycomSPIP"/>
			</requestValidation>
			<specialEvent voIpProt.SIP.specialEvent.lineSeize.nonStandard="1" 
				voIpProt.SIP.specialEvent.checkSync.alwaysReboot="0"/>
			<conference voIpProt.SIP.conference.address=""/>
		</SIP>
	</voIpProt>

## SIMILIAR DIALPLAN SECTION EXISTS IN phone.cfg.vm 
## to control dialplans for each line

	<dialplan 
#set ($group = $cfg.EndpointSettings.getSetting('dialplan'))
#foreach ($setting in $cfg.getSettings($group))
    dialplan.${setting.ProfileName}="$!{setting.ProfileValue}"
#end
    >

		<digitmap 
#set ($group = $cfg.EndpointSettings.getSetting('dialplan').getSetting('digitmap'))
#foreach ($setting in $cfg.getSettings($group))
    dialplan.${setting.ProfileName}="$!{setting.ProfileValue}"
#end
        />
		<routing>
			<server 
#set ($group = $cfg.EndpointSettings.getSetting('dialplan').getSetting('digitmap').getSetting("routing.1"))
     dialplan.routing.server.1.address="$!{group.getSetting('address').ProfileValue}"
     dialplan.routing.server.1.port="$!{group.getSetting('port').ProfileValue}"
/>
			<emergency 
#set ($group = $cfg.EndpointSettings.getSetting('dialplan').getSetting('digitmap').getSetting("routing.1"))  
     dialplan.routing.emergency.1.value="$!{group.getSetting('emergency.1.value').ProfileValue}"
     dialplan.routing.emergency.1.server.1="1"
            />
		</routing>
	</dialplan>

	<logging>
		<level>
			<change log.level.change.sip="4" log.level.change.sip.obs="5"/>
		</level>
	</logging>
</sip>