<?xml version="1.0" standalone="yes"?>
<!-- SIP Application Configuration File -->
<!-- Revision: 1.57.2.1 Date: 2004/07/27 00:23:34 -->
<sip>
   <voIpProt>
      <local voIpProt.local.port=""/>
      <server voIpProt.server.1.address="" voIpProt.server.1.port="5060" voIpProt.server.1.transport="" voIpProt.server.1.expires="" voIpProt.server.1.register="1" voIpProt.server.1.retryTimeOut="0" voIpProt.server.1.retryMaxCount="0" voIpProt.server.1.expires.lineSeize="30"/>
      <SIP voIpProt.SIP.useRFC2543hold="1" voIpProt.SIP.lcs="0" voIpProt.SIP.sendCompactHdrs="0" voIpProt.SIP.WM50="0" voIpProt.SIP.keepalive.sessionTimers="0" voIpProt.SIP.requestURI.E164.addGlobalPrefix="">
         <outboundProxy voIpProt.SIP.outboundProxy.address="" voIpProt.SIP.outboundProxy.port="5060"/>
         <alertInfo voIpProt.SIP.alertInfo.1.value="" voIpProt.SIP.alertInfo.1.class=""/>
         <requestValidation voIpProt.SIP.requestValidation.1.request="" voIpProt.SIP.requestValidation.1.method="" voIpProt.SIP.requestValidation.1.request.1.event="">
            <digest voIpProt.SIP.requestValidation.digest.realm="PolycomSPIP"/>
         </requestValidation>
         <specialEvent voIpProt.SIP.specialEvent.lineSeize.nonStandard="1" voIpProt.SIP.specialEvent.checkSync.alwaysReboot="0"/>
         <conference voIpProt.SIP.conference.address=""/>
      </SIP>
   </voIpProt>
   <dialplan dialplan.impossibleMatchHandling="0" dialplan.removeEndOfDial="1">
      <digitmap dialplan.digitmap="[2-9]11|0T|011xxx.T|[0-1][2-9]xxxxxxxxx|[2-9]xxxxxxxxx|[2-9]xxxT" dialplan.digitmap.timeOut="3"/>
      <routing>
         <server dialplan.routing.server.1.address="" dialplan.routing.server.1.port="5060"/>
         <emergency dialplan.routing.emergency.1.value="911" dialplan.routing.emergency.1.server.1="1"/>
      </routing>
   </dialplan>
   <logging>
      <level>
         <change log.level.change.sip="4" log.level.change.sip.obs="5"/>
      </level>
   </logging>
</sip>
