<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<!--
  -	Stub implementation of PhoneDao for unittests that do not use a
  - database
  -->
<beans>
	<bean id="debugInterceptor" 
		class="org.springframework.aop.interceptor.DebugInterceptor">
	</bean>
	<bean id="phoneDao" 
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.sipfoundry.sipxconfig.phone.PhoneDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>debugInterceptor</value>
			</list>
		</property>
	</bean>
</beans>