<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <!--
  -  S Y S T E M  D I R E C T O R I E S
  -  evaluates system directory variables e.g. ${sysdir.*} in this file
  -->
  <bean id="sipxconfig.properties" class="org.springframework.core.io.ClassPathResource">
    <constructor-arg index="0"><value>sipxconfig.properties</value></constructor-arg>
  </bean>
  <bean id="sysdir" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location">
      <ref bean="sipxconfig.properties"></ref>
    </property>
  </bean>
  
  <!-- This is used in unit test environment only: we change dataSource.url using this mechanism -->
  <bean id="overrider" class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
    <property name="location">
      <ref bean="sipxconfig.properties"></ref>
    </property>
  </bean>
  <!--
  - P O S T G R E S
  -->
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName">
      <value>org.postgresql.Driver</value>
    </property>
    <property name="url">
      <value>jdbc:postgresql://localhost/PDS</value>
    </property>
    <property name="username">
      <value>postgres</value>
    </property>
  </bean>
  <!--
  - T R A N S A C T I O N  S U P P O R T
  -->
  <bean id="transactionManager"
    class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource">
      <ref local="dataSource"/>
    </property>
  </bean>
  <!--
  - H I B E R N A T E   F A C T O R Y
  -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate.LocalSessionFactoryBean">
    <property name="dataSource">
      <ref local="dataSource"/>
    </property>
    <property name="mappingResources">
      <list>
        <value>org/sipfoundry/sipxconfig/admin/callgroup/callGroup.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/admin/callgroup/parkOrbit.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/admin/forwarding/ring.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/admin/backup.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/admin/patch.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/admin/dialplan/dialingRule.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/admin/dialplan/autoAttendant.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/common/legacy.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/gateway/gateway.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/legacy/configSet.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/phone/phone.hbm.xml</value>
        <value>org/sipfoundry/sipxconfig/setting/setting.hbm.xml</value>
      </list>
    </property>
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect"> net.sf.hibernate.dialect.PostgreSQLDialect</prop>
        <prop key="hibernate.query.substitutions">true=1 false=0</prop>
        <!-- prop key="hibernate.show_sql">true</prop -->
      </props>
    </property>
    <!-- unless otherwise specified property nameLikeThis will be mapped to column name_like_this -->
    <!--property name="namingStrategy">
      <bean class="net.sf.hibernate.cfg.ImprovedNamingStrategy"/>      
    </property-->
  </bean>
  <!--
  - H I B E R N A T E   S E S S I O N
  -->
  <bean id="hibernateInterceptor" class="org.springframework.orm.hibernate.HibernateInterceptor">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>
  <!--
  - V E L O C I T Y
  -->
  <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
    <property name="resourceLoaderPath"><value>file:${sysdir.etc}</value></property>
  </bean>
  <!--
  -  S E T T I N G  D A O  I M P L
  -->
  <bean id="settingDaoImpl" class="org.sipfoundry.sipxconfig.setting.SettingDaoImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>
  <!--
  -  S E T T I N G  D A O 
  -->
  <bean id="settingDao" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.sipfoundry.sipxconfig.setting.SettingDao</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>settingDaoImpl</value>
      </list>
    </property>
  </bean>
  <!--
  - C O R E  C O N T E X T   I M P L
  -->
  <bean id="coreContextImpl" class="org.sipfoundry.sipxconfig.common.CoreContextImpl">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
    <property name="legacyContext">
      <ref bean="legacyContext"/>
    </property>
  </bean>
  <!--
  - C O R E  C O N T E X T
  -->
  <bean id="coreContext" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.sipfoundry.sipxconfig.common.CoreContext</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>coreContextImpl</value>
      </list>
    </property>
  </bean>
  
  <!-- 
  - L E G A C Y   C O N T E X T
  -->
  
  <bean id="legacyContextImpl" class="org.sipfoundry.sipxconfig.legacy.LegacyContextImpl"
    autowire="byType">
  </bean>
  <bean id="legacyContext" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.sipfoundry.sipxconfig.legacy.LegacyContext</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>legacyContextImpl</value>
      </list>
    </property>
  </bean>
  
  <!-- 
  - A D M I N   C O N T E X T           
  -->
  <bean id="adminContext" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.sipfoundry.sipxconfig.admin.AdminContext</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>adminContextImpl</value>
      </list>
    </property>
  </bean>
  <bean id="adminContextImpl" class="org.sipfoundry.sipxconfig.admin.AdminContextImpl"
    autowire="byType">
    <property name="binDirectory">
      <value>${sysdir.bin}</value>
    </property>
  </bean>
  
  <!--
  - F O R W A R D I N G  C O N T E X T
  -->
  
  
  <!-- autowire is used here to enable injecting JMS Template in application context, but not in JUnit context -->
  <bean id="forwardingContextImpl"
    class="org.sipfoundry.sipxconfig.admin.forwarding.ForwardingContextImpl" autowire="byType">
    <property name="coreContext">
      <ref bean="coreContextImpl"/>
    </property>
    <property name="legacyContext">
      <ref bean="legacyContextImpl"/>
    </property>
  </bean>
  
  <bean id="forwardingContext" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.sipfoundry.sipxconfig.admin.forwarding.ForwardingContext</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>forwardingContextImpl</value>
      </list>
    </property>
  </bean>

  <bean id="vxml" class="org.sipfoundry.sipxconfig.admin.dialplan.VxmlGenerator">
    <property name="velocityEngine">
      <ref local="velocityEngine"/>
    </property>
  </bean>
  
  <!--
  - C A L L G R O U P   C O N T E X T
  -->
  <bean id="orbitsGenerator" class="org.sipfoundry.sipxconfig.admin.dialplan.config.Orbits">
    <property name="configDirectory">
      <value>${sysdir.etc}</value>
    </property>
  </bean>
  
  <bean id="callGroupContextImpl"
    class="org.sipfoundry.sipxconfig.admin.callgroup.CallGroupContextImpl" autowire="byType">
    <property name="coreContext">
      <ref bean="coreContextImpl"/>
    </property>
    <property name="orbitsGenerator">
      <ref bean="orbitsGenerator"/>
    </property>
  </bean>
  
  <bean id="callGroupContext" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.sipfoundry.sipxconfig.admin.callgroup.CallGroupContext</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>hibernateInterceptor</value>
        <value>callGroupContextImpl</value>
      </list>
    </property>
  </bean>
  
  <!-- 
  - C O M M S E R V E R S
  -->
  <bean id="sipxServer" class="org.sipfoundry.sipxconfig.admin.commserver.SipxServer">
    <property name="configDirectory">
      <value>${sysdir.etc}</value>
    </property>
  </bean>
  
  <bean id="sipxProcessContext"
    class="org.sipfoundry.sipxconfig.admin.commserver.SipxProcessContextImpl">
    <property name="configDirectory">
      <value>${sysdir.etc}</value>
    </property>
  </bean>
</beans>
