<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--
       - P O S T G R E S
       -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close">
		<property name="driverClassName">
			<value>org.postgresql.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:postgresql://localhost/PDS</value>
		</property>
		<property name="username">
			<value>postgres</value>
		</property>
	</bean>
	<!--
       - T R A N S A C T I O N  S U P P O R T
       -->
	<bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
	</bean>
	<!--
      - H I B E R N A T E   F A C T O R Y
      -->
	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
		<property name="mappingResources">
			<list>
				<value> org/sipfoundry/sipxconfig/sipxconfig.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect"> 
					net.sf.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.query.substitutions">true=1 false=0</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<!--
      - H I B E R N A T E   S E S S I O N
      -->
	<bean id="hibernateInterceptor" 
		class="org.springframework.orm.hibernate.HibernateInterceptor">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!--
      - P H O N E  D A O   I M P L
      -->
	<bean id="phoneDaoImpl" 
		class="org.sipfoundry.sipxconfig.phone.PhoneDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!--
      - P H O N E  D A O
      -->
	<bean id="phoneDao" 
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.sipfoundry.sipxconfig.phone.PhoneDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>phoneDaoImpl</value>
			</list>
		</property>
	</bean>
	<!--
      - S E T T I N G S  D A O   I M P L
      -->
	<bean id="settingsDaoImpl" 
		class="org.sipfoundry.sipxconfig.settings.SettingsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<!--
      - S E T T I N G S  D A O
      -->
	<bean id="settingsDao" 
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.sipfoundry.sipxconfig.settings.SettingsDao</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
				<value>settingsDaoImpl</value>
			</list>
		</property>
	</bean>
</beans>