<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--
      -  S Y S T E M  D I R E C T O R I E S
	  -  evaluates system directory variables e.g. ${sysdir.*} in this file
	  --> 
	<bean id="sysdir.properties" class="org.springframework.core.io.ClassPathResource">
		<constructor-arg index="0"><value>sysdir.properties</value></constructor-arg>
	</bean>
	<bean id="sysdir" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<ref bean="sysdir.properties"></ref>			
		</property>
	</bean>
	<!--
	  - V E L O C I T Y
	  -->
	<bean id="velocityEngine" 
	  class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
	  <property name="resourceLoaderPath"><value>file:${sysdir.etc}</value></property>          
	</bean>
	<!--
      -  P H O N E  C O N T E X T
      -->
	<bean id="phoneContext" 
		class="org.sipfoundry.sipxconfig.phone.PhoneContextImpl">
		<property name="phoneDao">
			<ref bean="phoneDao"/>
		</property>
		<property name="phoneIds">
			<list>
				<value>generic</value>
				<value>polycom300</value>
			</list>
		</property>
	</bean>
	<bean id="polycom300" class="org.sipfoundry.sipxconfig.vendor.PolycomPhone" 
		singleton="false">
		<property name="velocityEngine">
			<ref bean="velocityEngine"/>
		</property>
		<property name="tftpRoot">
			<value>${sysdir.var}/configserver/phone/profiles/tftproot</value>
		</property>
		<property name="modelId">
			<value>polycom300</value>
		</property>
		<property name="phoneContext">
			<ref local="phoneContext"/>
		</property>
	</bean>
	<bean id="generic" class="org.sipfoundry.sipxconfig.phone.GenericPhone" 
		singleton="false">
		<property name="phoneContext">
			<ref local="phoneContext"/>
		</property>
	</bean>
    <!-- temporary gateways and dialPlans singletons-->
    <bean id="dialPlanManager" class="org.sipfoundry.sipxconfig.admin.dialplan.DialPlanManager">
        
    </bean>
</beans>