aclocal.m4
autom4te.cache/
BUILDSTAMP
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
Makefile
Makefile.in
stamp-h1
*.swp
doc/Makefile
doc/Makefile.in
examples/Makefile
examples/Makefile.in
interface/.deps/
interface/Makefile
interface/Makefile.in
sipXmediaMediaProcessing/Makefile
sipXmediaMediaProcessing/Makefile.in
sipXmediaMediaProcessing/include/Makefile
sipXmediaMediaProcessing/include/Makefile.in
sipXmediaMediaProcessing/src/.deps/
sipXmediaMediaProcessing/src/Makefile
sipXmediaMediaProcessing/src/Makefile.in
sipXmediaMediaProcessing/src/test/.deps/
sipXmediaMediaProcessing/src/test/Makefile
sipXmediaMediaProcessing/src/test/Makefile.in
sipXtackLib/src/test/net/testsuite-*.o

