aclocal.m4
autom4te.cache/
BUILDSTAMP
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
Makefile
Makefile.in
stamp-h1
*.swp
doc/Makefile
doc/Makefile.in
examples/Makefile
examples/Makefile.in
interface/libmediainterface.la
interface/Makefile
interface/Makefile.in
interface/*.lo
interface/*.o
interface/.deps/
interface/.libs/
sipXmediaMediaProcessing/Makefile
sipXmediaMediaProcessing/Makefile.in
sipXmediaMediaProcessing/include/Makefile
sipXmediaMediaProcessing/include/Makefile.in
sipXmediaMediaProcessing/src/.deps/
sipXmediaMediaProcessing/src/.libs/
sipXmediaMediaProcessing/src/Makefile
sipXmediaMediaProcessing/src/Makefile.in
sipXmediaMediaProcessing/src/test/.deps/
sipXmediaMediaProcessing/src/test/.libs/
sipXmediaMediaProcessing/src/test/itu_peak_recordings.rar
sipXmediaMediaProcessing/src/test/Makefile
sipXmediaMediaProcessing/src/test/Makefile.in
sipXmediaMediaProcessing/src/test/sandbox
sipXmediaMediaProcessing/src/test/sandbox-*.o
sipXmediaMediaProcessing/src/test/test-suite.log
sipXmediaMediaProcessing/src/test/testsuite
sipXmediaMediaProcessing/src/test/testsuite-*.o
sipXmediaMediaProcessing/src/test/codecQualitySource/
sipXmediaMediaProcessing/src/libsipXmediaProcessing.la
sipXmediaMediaProcessing/src/libsipXmediaProcessing_la*.lo
sipXmediaMediaProcessing/src/libsipXmediaProcessing_la*.o


